{% extends 'app/base.html' %} {% load static %}
{% block contenido %}

<div class="container">
    <h1>Informacion del clientes desde la bd</h1>
    <table border="1" class="table">
        <tr>
            <td>nombre</td>
            <td>apellido</td>
            <td>direccion</td>
            <td>correo</td>
            <td>comuna</td>
            <td>edad</td>
            <td>comentario</td>
        </tr>
        {% for dato in clientes%}
        <tr>
            <td>{{dato.nombre}}</td>
            <td>{{dato.apellido}}</td>
            <td>{{dato.direccion}}</td>
            <td>{{dato.correo}}</td>
            <td>{{dato.comuna}}</td>
            <td>{{dato.edad}}</td>
            <td>{{dato.comentario}}</td>
            <td><a href="{% url 'form_mod_Cliente' dato.nombre %}">Modificar</a></td>
            <td><a href="{% url 'form_del_Cliente' dato.nombre %}">Eliminar</a></td>
        </tr>

        {% endblock %}

    </table>
    <a href="{% url 'form_Cliente'%}">nuevo cliente</a>
</div>